src/Library/Artifacts/0f/0f1422eb07e8a9528730d188e9500aec
src/Library/Artifacts/11/11e94cd0d0dbf954f5c91ca76b062a30
src/Library/Artifacts/15/15d35313c449566ec7c78c45d0f3bbb8
src/Library/Artifacts/15/159deb1e246eba120dce7146cdab4ff6
src/Library/Artifacts/18/185d1ab64e72f90cbde6b2d010c00ada
src/Library/Artifacts/1a/1a01f5b4b85d1918ccbc35cf1301eaf9
src/Library/Artifacts/1b/1bd8f475926a786d4a84ef3190744fda
src/Library/Artifacts/20/20fbfb969e24a769e4231a2889d2b74d
src/Library/Artifacts/3d/3d714d218bc88510b3aa9ce07218a293
src/Library/Artifacts/3f/3fbe2feca4ab4442a4a51b27877cf38f
src/Library/Artifacts/40/4084ba081751cf7d61d51797637699b6
src/Library/Artifacts/4c/4c015dbfc76cdcdde3638c7d18899be9
src/Library/Artifacts/4c/4cf1146c53e9f35dc4589bbcfe6e5cf3
src/Library/Artifacts/5a/5a0ae120ea94deef73cc50238f1f7055
src/Library/Artifacts/5a/5aeb891d2b8e9bc3eff476f94ead1996
src/Library/Artifacts/5b/5b37a7cbf06850a0ab6c429ec7619333
src/Library/Artifacts/5d/5daaf29a33664aa98461368c4c3220a3
src/Library/Artifacts/5f/5f114fa79a85cd71b1733b6f026f6016
src/Library/Artifacts/70/702e1627e87b5ca8f2a64ea2f4ec8fc4
src/Library/Artifacts/71/7132cda6a25436b28f6b41230ee08521
src/Library/Artifacts/74/743783bf57951f332245a1d9874e63ae
src/Library/Artifacts/78/78a823c389f7bd124f29100491328198
src/Library/Artifacts/81/81839ae32cc963d00bf0c0499a1891db
src/Library/Artifacts/8e/8eeae6c4d7760b7d1fe53a9d579e4459
src/Library/Artifacts/8f/8f6b035224fbf71c1778e79b43995316
src/Library/Artifacts/92/92c5c8feb7b4d2ff66eebb7face8b664
src/Library/Artifacts/9f/9fc0b916d64aaea1f1308bf540bb08ed
src/Library/Artifacts/a1/a1197e01c4e42b98fcb5900d8f5a4ec7
src/Library/Artifacts/a2/a25b45b25141e6009dab0acdd6daace1
src/Library/Artifacts/ac/ac91706136ceb31e11f3771cec3e8269
src/Library/Artifacts/ae/aec47f3fce27c8240f264b939d9667cd
src/Library/Artifacts/af/afd91034cff718b4f55e5a4aebef267a
src/Library/Artifacts/b0/b0b4b61de6d61fe5760fb1f36b4b9cff
src/Library/Artifacts/b7/b74c891a6ac5e77346f8e2bcb106b864
src/Library/Artifacts/c2/c21d05e166ce7e8f8fc849884ad6274e
src/Library/Artifacts/ce/ce3286a3f8402fad28b5a1b2f7595a87
src/Library/Artifacts/dc/dcb2b759dc383f57db4493b4c1c56be7
src/Library/Artifacts/e9/e93ab727d52d4a9fbc7c547e5776f1f2
src/Library/Artifacts/ed/edeedd4b6d9baba4a978a5d0d9f191bd
src/Logs/AssetImportWorker0.log
src/Logs/shadercompiler-AssetImportWorker0.log
src/obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
src/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
src/obj/Debug/AssistantCoreSDKEditor.csproj.AssemblyReference.cache
src/obj/Debug/AssistantCoreSDKRuntime.csproj.AssemblyReference.cache
src/obj/Debug/Facebook.Wit.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Facebook.WitAI.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.AudioManager.Audio.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.AudioManager.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.AudioManager.Utils.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Interaction.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Interaction.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Interaction.InterfaceSupport.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Interaction.Samples.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.LipSync.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.LipSync.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Platform.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Platform.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Spatializer.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Spatializer.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.VR.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.VR.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.VR.Scripts.Editor.csproj.AssemblyReference.cache
src/obj/Debug/VoiceSDK.Editor.csproj.AssemblyReference.cache
src/obj/Debug/VoiceSDK.Runtime.csproj.AssemblyReference.cache
src/Temp/Assembly-CSharp-Editor.dll.hash
src/Temp/Assembly-CSharp.dll.hash
src/Temp/AssistantCoreSDKEditor.dll.hash
src/Temp/AssistantCoreSDKRuntime.dll.hash
src/Temp/CompilationLog.txt
src/Temp/Facebook.Wit.Editor.dll.hash
src/Temp/Facebook.WitAI.dll.hash
src/Temp/Oculus.AudioManager.Audio.Editor.dll.hash
src/Temp/Oculus.AudioManager.dll.hash
src/Temp/Oculus.AudioManager.Utils.Editor.dll.hash
src/Temp/Oculus.Interaction.dll.hash
src/Temp/Oculus.Interaction.Editor.dll.hash
src/Temp/Oculus.Interaction.InterfaceSupport.dll.hash
src/Temp/Oculus.Interaction.Samples.dll.hash
src/Temp/Oculus.LipSync.dll.hash
src/Temp/Oculus.LipSync.Editor.dll.hash
src/Temp/Oculus.Platform.dll.hash
src/Temp/Oculus.Platform.Editor.dll.hash
src/Temp/Oculus.Spatializer.dll.hash
src/Temp/Oculus.Spatializer.Editor.dll.hash
src/Temp/Oculus.VR.dll.hash
src/Temp/Oculus.VR.Editor.dll.hash
src/Temp/Oculus.VR.Scripts.Editor.dll.hash
src/Temp/Unity.CollabProxy.Editor.dll.hash
src/Temp/Unity.PlasticSCM.Editor.dll.hash
src/Temp/Unity.Rider.Editor.dll.hash
src/Temp/Unity.Services.Core.Editor.dll.hash
src/Temp/Unity.Subsystem.Registration.dll.hash
src/Temp/Unity.TextMeshPro.dll.hash
src/Temp/Unity.TextMeshPro.Editor.dll.hash
src/Temp/Unity.Timeline.dll.hash
src/Temp/Unity.Timeline.Editor.dll.hash
src/Temp/Unity.VisualStudio.Editor.dll.hash
src/Temp/Unity.VSCode.Editor.dll.hash
src/Temp/Unity.XR.Management.dll.hash
src/Temp/Unity.XR.Management.Editor.dll.hash
src/Temp/Unity.XR.Oculus.dll.hash
src/Temp/Unity.XR.Oculus.Editor.dll.hash
src/Temp/UnityEditor.SpatialTracking.dll.hash
src/Temp/UnityEditor.TestRunner.dll.hash
src/Temp/UnityEditor.UI.dll.hash
src/Temp/UnityEditor.XR.LegacyInputHelpers.dll.hash
src/Temp/UnityEngine.SpatialTracking.dll.hash
src/Temp/UnityEngine.TestRunner.dll.hash
src/Temp/UnityEngine.UI.dll.hash
src/Temp/UnityEngine.XR.LegacyInputHelpers.dll.hash
src/Temp/UnityLockfile
src/Temp/UnityTempFile-0ac7f1de63453df479d99d1d3184356b
src/Temp/UnityTempFile-0b3880e804422b9448b93f9ff69598fd
src/Temp/UnityTempFile-0bb645c9a1a70404088e1a0bc1c05f2b
src/Temp/UnityTempFile-0e97ce91f1c48804d83a40eb8c80a331
src/Temp/UnityTempFile-0ea8deb31eab05d4ab04b8717e2461b5
src/Temp/UnityTempFile-0fa29ce9dd5289345af2bf67da3fb34e
src/Temp/UnityTempFile-0fe6972f88409924c99ff36a576e47b4
src/Temp/UnityTempFile-1a4e8a883b741af4e958427dd2f051e6
src/Temp/UnityTempFile-1b176fd465a673b439dc617c7c25026f
src/Temp/UnityTempFile-1c411b2b7f3076546bb592f8b86ddec0
src/Temp/UnityTempFile-1d016aa2fd771ab428727ab64ae77674
src/Temp/UnityTempFile-1da0808871d31aa418ff73568f9a3cfa
src/Temp/UnityTempFile-1e4cfd6f843612a4a902b0a224344216
src/Temp/UnityTempFile-1e55ebfd6effa72478ec02f3bb0649ce
src/Temp/UnityTempFile-01f7390d31484fe41bb590ae8488bcda
src/Temp/UnityTempFile-2a363747ae9ba8448bbe4b5041f4f169
src/Temp/UnityTempFile-2ab88def8037ace4e805160810c11306
src/Temp/UnityTempFile-2b38e4c666851554c852ca3216e9f168
src/Temp/UnityTempFile-2bb897de48ecf52408f10f63ec9a3d56
src/Temp/UnityTempFile-2be578efb0b146f4e9e2288ff2be9d26
src/Temp/UnityTempFile-2d760c96f6973a948b41b5d5b74e16dc
src/Temp/UnityTempFile-2d3477effd3240141ab9356b0cdf3941
src/Temp/UnityTempFile-2fdd39f599686a144b212202d578959f
src/Temp/UnityTempFile-3a3ccd30ee928ec4997f4476969a6205
src/Temp/UnityTempFile-3bc0f14e07d6b9446aa03b76f3a6c63e
src/Temp/UnityTempFile-003c9abfa32d31f49886288b08e985df
src/Temp/UnityTempFile-3c4270138d6f106478992c39a9527332
src/Temp/UnityTempFile-3e91fcf5f3febb047a593b61a95b81fd
src/Temp/UnityTempFile-3eaa84c56489a744dabe63bb49cb0589
src/Temp/UnityTempFile-3f1f672aa02379140b939b874d4ebe5b
src/Temp/UnityTempFile-4a3b2e254e2723748b6ba9ba2aba335e
src/Temp/UnityTempFile-4a30e92039ffd384aa79dc3d661641d4
src/Temp/UnityTempFile-4af97e330559eb44abcc238a2f8fb258
src/Temp/UnityTempFile-4b53aa3147d144b48a7f6670335fc050
src/Temp/UnityTempFile-4d60f03669522144999fcc23ece3bfc7
src/Temp/UnityTempFile-4e85ad836431dff4d9d57d52744dfcf4
src/Temp/UnityTempFile-04ec14473a8c6e74c9188c1aaf8e09ce
src/Temp/UnityTempFile-4f3145361c95b07498b6daa735259450
src/Temp/UnityTempFile-4f4495401326f2e449e0d50cf0dd0eee
src/Temp/UnityTempFile-4fa5b4270d928fd40a17714ae0ad9558
src/Temp/UnityTempFile-4ffdb1d8efc0f9f42b1427f886f03483
src/Temp/UnityTempFile-5aa8518e4d6da9c41b08a7a5f5f17019
src/Temp/UnityTempFile-5c6c4d6bfce065f469bc3e020cc6fe88
src/Temp/UnityTempFile-5cbc9fd769ebec344aecc56cea494233
src/Temp/UnityTempFile-5d1fd3f83e2cd684d853a53dfccede48
src/Temp/UnityTempFile-6d02ffe2260e75045a654434b377af5d
src/Temp/UnityTempFile-6d616e9cfc62b3c488773698187f601f
src/Temp/UnityTempFile-6ee2688f9bae8b44080dd587993655e2
src/Temp/UnityTempFile-6f2c49d9101a71e47bf848b4bca38aeb
src/Temp/UnityTempFile-6f5c07a66b1580848bbddba522eaf52d
src/Temp/UnityTempFile-7b78ab2809467064db8efbb41355b864
src/Temp/UnityTempFile-7beee03eb89f96b4480ec2a5034b7918
src/Temp/UnityTempFile-7c8e2e1dc1315174f9397e0a7c4754cd
src/Temp/UnityTempFile-7c694328a8ca42342a9aadab84259906
src/Temp/UnityTempFile-07d8aceb03cc6724baf38d498283d7c0
src/Temp/UnityTempFile-7e13f6c022bad7642ab6e012aec3f27d
src/Temp/UnityTempFile-7f906b1a9ad0b2945b496984003d38cf
src/Temp/UnityTempFile-8a1c62e043e62bf4f95630d9fdfacded
src/Temp/UnityTempFile-8a9c8f281d867f14dbe796b599824df3
src/Temp/UnityTempFile-9a3dce85ea8e543439a4d128bbd6aa48
src/Temp/UnityTempFile-9c8eae36e02fc9145bf16f7f9251b93f
src/Temp/UnityTempFile-9c46b49703f1bb146992af06d4f86737
src/Temp/UnityTempFile-9c212c64ebac64b4b9ab1c98a7b11c9d
src/Temp/UnityTempFile-9ca14c39fc2292343a9bdf2ef12c2f8f
src/Temp/UnityTempFile-9ce4b071bf5b71e4e83922ab8f857fd7
src/Temp/UnityTempFile-9d9740351d2ca974b8594a67e13523a9
src/Temp/UnityTempFile-9e3d108800a31264a8bba5ef4a6d4ddd
src/Temp/UnityTempFile-9e25b0f3e8785eb41ab73bcf7ac24000
src/Temp/UnityTempFile-9e40df46411386a4cb2a7a3c38759a47
src/Temp/UnityTempFile-9eef0f2838e55d249a0434e37651475b
src/Temp/UnityTempFile-10c27e918b9d02145a24c7a3471c4faa
src/Temp/UnityTempFile-10d2d497eac4e044d89ea12b79e501d9
src/Temp/UnityTempFile-16a5787acd71d614cb04622d5a3c1fb1
src/Temp/UnityTempFile-19f8bf19587cd514cad51d80e467ca5d
src/Temp/UnityTempFile-20cb67fd378c8bc47a571352362998c1
src/Temp/UnityTempFile-20ce17ea8b964c747982daf136408a7c
src/Temp/UnityTempFile-22fbe93fe98b28b438153aa1f3ee15ae
src/Temp/UnityTempFile-25f96884244935b4786271404c49c536
src/Temp/UnityTempFile-32ea7789506b1c44a803d809d6e40490
src/Temp/UnityTempFile-34a96948bf2c2c946b117af5e60620bd
src/Temp/UnityTempFile-34e7d41d2f098b949b3c48bed6069c12
src/Temp/UnityTempFile-39c6a1449e53fc14b88739efe6ca9d0d
src/Temp/UnityTempFile-44c1e81a390c8804da4c96755dfb1384
src/Temp/UnityTempFile-48cd09846a6f76a4c9f43d2c6ae30a54
src/Temp/UnityTempFile-49d927dc5df71734c844b2a2f0e1512d
src/Temp/UnityTempFile-50e46ea375b9c484d8b62758cd82f06a
src/Temp/UnityTempFile-51f52fe3cc3d2174fb916da2b4f75d26
src/Temp/UnityTempFile-53a48bc13d28c43438de72e64c015d90
src/Temp/UnityTempFile-56edfc194aeaf464190ed8959c5b4179
src/Temp/UnityTempFile-57ad214874d916e4e86801dceb81c90c
src/Temp/UnityTempFile-57d8f57dc123d874bac8a2e1a4ea9ef9
src/Temp/UnityTempFile-57deb62fe9ad9d241a6a2bca7b720be7
src/Temp/UnityTempFile-58eeeb545471e404f9236e9d6d298e58
src/Temp/UnityTempFile-63ca5f880feff054ab9032a452aca56c
src/Temp/UnityTempFile-67de5e8d8764b074485e0aae801eba39
src/Temp/UnityTempFile-67ec68bd8fcbacf49bee0d8b938fd5ab
src/Temp/UnityTempFile-71c9bdbf34d22a645b1f5a36f6f37b0d
src/Temp/UnityTempFile-72d93e5ca7199fd4b87a4588646c8a96
src/Temp/UnityTempFile-75dbd122f7e29e4488848cd716a35933
src/Temp/UnityTempFile-76bd6f292388db449831de75f67ab0aa
src/Temp/UnityTempFile-78a2b6c46b11a6041b008b127df88470
src/Temp/UnityTempFile-79f3e0fe888d50e4da2177c0798799d1
src/Temp/UnityTempFile-87a7de23f16a1be4090ba713483b0c21
src/Temp/UnityTempFile-89d5cf56a92d27e479f5c5fe70cdc0a1
src/Temp/UnityTempFile-90f6666698a9eda488e80adacf58927c
src/Temp/UnityTempFile-92dffc7f4a774ca46b9e5fc5b8ee5b35
src/Temp/UnityTempFile-93b333d7320a96d4180d2b6255cd0da3
src/Temp/UnityTempFile-94ce9e5bf3f82584482d5f8fc3caac02
src/Temp/UnityTempFile-97aac9db76a165440afe0e6ee36c49b3
src/Temp/UnityTempFile-098dcec86765eff4ab788959f4e0df97
src/Temp/UnityTempFile-099cd3559de17504ea46941a8a20d0b5
src/Temp/UnityTempFile-231f0244f6e5c1943b62ee70c70c0561
src/Temp/UnityTempFile-270a1aff974fba34dac0cd15c4b087d2
src/Temp/UnityTempFile-0312a7c7aad6e654390c3d04f6a691f5
src/Temp/UnityTempFile-323ccd2006229d84ab4c8e24d1697857
src/Temp/UnityTempFile-379e38a9ce9d0f04798ff3c21477c476
src/Temp/UnityTempFile-440a55be23f5db849a5b70050e228359
src/Temp/UnityTempFile-476ce185b12fd2042ae15e0026b901f5
src/Temp/UnityTempFile-481bbbc5e35c68142bf7355bfb0cbdd7
src/Temp/UnityTempFile-531edf280c7ae054fa8108dfca5c08ac
src/Temp/UnityTempFile-596d35610fcc37542bd0bf75b6494009
src/Temp/UnityTempFile-620cc0f9a68eeb0408008780129081b2
src/Temp/UnityTempFile-654f71bb8e964b84e88fa85a2c9ac073
src/Temp/UnityTempFile-745db4956c63ad24a8bec57fcad363a1
src/Temp/UnityTempFile-780f23c0358d6534cb58bbe3554bfb20
src/Temp/UnityTempFile-843d7be5178a43142a03c37f4b220fb8
src/Temp/UnityTempFile-847bf8687516446408d2d7ae85038ffb
src/Temp/UnityTempFile-880d43d4dd26d9040a952a1d9e7cfe0f
src/Temp/UnityTempFile-894a42946f5cc6648aa04dbe2cfe7323
src/Temp/UnityTempFile-910c2068d6184ef40a7624e3c3e722a6
src/Temp/UnityTempFile-0915d33f986d89d4c9a68f90985892db
src/Temp/UnityTempFile-931fcf30ebcabd64d9cafca751f72531
src/Temp/UnityTempFile-1514b97d3a080e84bb396faf3bc32c79
src/Temp/UnityTempFile-3076de90924465349b576b0e6f7aa377
src/Temp/UnityTempFile-4494b20d38bfff548b6ae12c614d4be1
src/Temp/UnityTempFile-4767f22219c28d44392f8e840a688bd3
src/Temp/UnityTempFile-5949d05b9f24d744285221dc3344b080
src/Temp/UnityTempFile-7197d46a267bd8340a52318046edf138
src/Temp/UnityTempFile-7939bd1669d95584cae650939f41b9bd
src/Temp/UnityTempFile-8161c203b61003b42bbe7d58f46b136c
src/Temp/UnityTempFile-9792f0ff33ee74341bee5ad8e8f8cc9f
src/Temp/UnityTempFile-26359f9d1e11bab419126b82747d78ce
src/Temp/UnityTempFile-51997f7d5de58fc418cdbff83439444c
src/Temp/UnityTempFile-64503fefb83f265408b3558a92f7c480
src/Temp/UnityTempFile-68684e06dfdfc5a4f91fbada78c514a0
src/Temp/UnityTempFile-91606a30ef32c57409fa8910d35a40a9
src/Temp/UnityTempFile-99372ee2e61382d4e945afe1cc30aab5
src/Temp/UnityTempFile-889128cb81e99f3438232b07e397bd66
src/Temp/UnityTempFile-956801b5471337c48a3800c6e81812b4
src/Temp/UnityTempFile-6033833e6da4c3344b2238350ba2a18d
src/Temp/UnityTempFile-6395411fe468a95408fb0a7a4067be31
src/Temp/UnityTempFile-7592839aa0bc3d64fae4b35e247f4e46
src/Temp/UnityTempFile-014436787fcb81b4cb43219bfcae70c1
src/Temp/UnityTempFile-45385339e9c0aca478dc7d934cde826a
src/Temp/UnityTempFile-1701273113c48ba4a96a5515cef53d81
src/Temp/UnityTempFile-181945628194e854cbeaf98bd66b960b
src/Temp/UnityTempFile-a3dd87fbb8c423c4bbded28fa6eb9c1f
src/Temp/UnityTempFile-a4b8677ec700e1249a70200b48900024
src/Temp/UnityTempFile-a78d067f7d9d4874284fa4f6d2f7aeb3
src/Temp/UnityTempFile-a563e37c57ac98a42a8b7354dbc2123a
src/Temp/UnityTempFile-aa7005fe09b47f046a5eb85eeb5438d0
src/Temp/UnityTempFile-aa0546964d70402418b1cf0e4f6cf5d0
src/Temp/UnityTempFile-ab34b2444135ae548a0adad1030cbe27
src/Temp/UnityTempFile-abb3736ef2eb41949811763c6503b98a
src/Temp/UnityTempFile-acab68d68ac90404c95f2e800e8e6c6f
src/Temp/UnityTempFile-adc588816e598a44cad1f51ae36c6a15
src/Temp/UnityTempFile-aff3890cb0ef2b445990683538e241b9
src/Temp/UnityTempFile-b1bc091ee0402c34bbab412afd35e0c5
src/Temp/UnityTempFile-b1f7d8ce16cee384bb138fd8f26010fd
src/Temp/UnityTempFile-b6f84388114bc3b45912eb99dc5305e6
src/Temp/UnityTempFile-b9d45ede14387ad41a38a6a6cad15fe1
src/Temp/UnityTempFile-b37b3af5fe8271141b249761ceb86c9d
src/Temp/UnityTempFile-b80c34780ca0d1c4b88e8be84279ff2c
src/Temp/UnityTempFile-b3420b0346026454283246c0ced6bf5c
src/Temp/UnityTempFile-b201287e1f1cd514eb2c00a2dabee119
src/Temp/UnityTempFile-b1211766298436f47a09bc5fbc15f188
src/Temp/UnityTempFile-bb285d386584f3a4683885553264f33c
src/Temp/UnityTempFile-bebe9da4205bc7a408ab39b7bc382e43
src/Temp/UnityTempFile-bed5ce4eb8d1aa94b96c7b6b0cd0cc94
src/Temp/UnityTempFile-bf48b307504afc249a5a6547048685a0
src/Temp/UnityTempFile-bf888d399fdccec4fa2a98edf505f447
src/Temp/UnityTempFile-c0a3f46307faca44e951d1121bf50519
src/Temp/UnityTempFile-c2fcf51968b9e464c9c89450ba932418
src/Temp/UnityTempFile-c5cc776d25245f846a028e1c65b46aef
src/Temp/UnityTempFile-c8f003b7bdcf3374e8db674c97f9dbec
src/Temp/UnityTempFile-c24b760b0381c764cb755ef6c78fa628
src/Temp/UnityTempFile-c33f2ca0bd0d15243b825a0a59051aaf
src/Temp/UnityTempFile-c314d0e8cfb827e45baa5893bd6af403
src/Temp/UnityTempFile-c688f97d747af7c48a66e27a4f7a5bce
src/Temp/UnityTempFile-cba6ee4fc03337b45acedf272a71c63d
src/Temp/UnityTempFile-cbced942ce612ec4381478f659d06b77
src/Temp/UnityTempFile-ccba90e3f5565934881542b54d088e11
src/Temp/UnityTempFile-cda834e919778c44996b2d4dd86ed45a
src/Temp/UnityTempFile-cf3d56a49af1e5c49a60537843ed16e1
src/Temp/UnityTempFile-d3b4ad94d64a9054fb38b2636ef19e0a
src/Temp/UnityTempFile-d3b08a1da334b2c479bc0a272161406d
src/Temp/UnityTempFile-d3ec16aeac393ea469ec26093f1c8d64
src/Temp/UnityTempFile-d6eedc6832539004baf7538605053e75
src/Temp/UnityTempFile-d18e9de6e70af634897a1e3edd478db0
src/Temp/UnityTempFile-d69fcf277406b8c418ce65f878d6fec9
src/Temp/UnityTempFile-d553ee2c83ffa194889573c29ba80973
src/Temp/UnityTempFile-da5d243b1896ba54cb5d88c2090c0f47
src/Temp/UnityTempFile-da86c7b9bca3d1c4a802cef97a9111dd
src/Temp/UnityTempFile-db629f4504cc90845963d2078736b7a9
src/Temp/UnityTempFile-dc1a89dde41ec6b4787918dcabc557e4
src/Temp/UnityTempFile-dd5231156dbcd8b41a9f372da143e8d3
src/Temp/UnityTempFile-ddcbd4fd22ce9e24db9d04d0dcc9739c
src/Temp/UnityTempFile-de7a5d4bd3102f7439ea36699e63ef97
src/Temp/UnityTempFile-de2397b6b812dc7438af9af6ff061127
src/Temp/UnityTempFile-df1faa24619f01249b75bf5d3356d600
src/Temp/UnityTempFile-df818647573146449aec2c354918872a
src/Temp/UnityTempFile-dfa5efd09cc782448a0fec2da4bfe55b
src/Temp/UnityTempFile-e6f89672b42fa1648981a04ffefcbf22
src/Temp/UnityTempFile-e62f98be1c64fc442939124adc73b8ef
src/Temp/UnityTempFile-e15926ecb48cf4a4cb16bd62c496a917
src/Temp/UnityTempFile-ea0d23537ca2f5f459ed2a41c12912d2
src/Temp/UnityTempFile-eb5b0bcc7bf180c45b33cfcd2ddf708a
src/Temp/UnityTempFile-ed891b3b481894e4e84669fd985d738d
src/Temp/UnityTempFile-ed9308f28fb21c848a9ca9958cb669e5
src/Temp/UnityTempFile-eddcd460ed3b06d4d9b5b7c0faabf238
src/Temp/UnityTempFile-eebdd1708af7cd94c84a0e3336a51cb9
src/Temp/UnityTempFile-f5b319d6c3c641b43a56602b3b8dc5e2
src/Temp/UnityTempFile-f7e873664b87489498be8d11cf64becf
src/Temp/UnityTempFile-f13e353dc54acf24cb22a33920503e8b
src/Temp/UnityTempFile-f93b5f63ed0be8546b69e058a2c76aa6
src/Temp/UnityTempFile-f439a681aa37ded4281c2431c0690da2
src/Temp/UnityTempFile-f717db7b5843a3c44b4bdbf66a89c61f
src/Temp/UnityTempFile-f994bf0b34ec6d644a21f0eeb527e7fb
src/Temp/UnityTempFile-f1806bd37a89dfb48b89acff0a2fa442
src/Temp/UnityTempFile-f8181debc209d06418701be5c6528934
src/Temp/UnityTempFile-f5468316e33c9e04aac09ca7a0b44621
src/Temp/UnityTempFile-fa2657c0f8d98b542be379fcdfc3b490
src/Temp/UnityTempFile-fa84282bbf82bd042be9b4e8e2a517f7
src/Temp/UnityTempFile-fcccfcc83f45a0b4ca5dd3ffef76a72e
src/Temp/UnityTempFile-fcd0005bc26e1f54c977d773330c2cdd
src/Temp/UnityTempFile-fdf7b06221df6b644a53e0f2e18ff6ba
src/Temp/UnityTempFile-fe88cb6dd70ac3543afe9c690898c8a7
src/Temp/UnityTempFile-ff42db20c3f1b264f82f798221b4ffcd
src/Temp/UnityTempFile-ffdde1df683c98f488165d743bd95f3f
src/Temp/VoiceSDK.Editor.dll.hash
src/Temp/VoiceSDK.Runtime.dll.hash
src/Temp/workerlic
src/Temp/__Backupscenes/0.backup
src/obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
src/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
src/obj/Debug/AssistantCoreSDKEditor.csproj.AssemblyReference.cache
src/obj/Debug/AssistantCoreSDKRuntime.csproj.AssemblyReference.cache
src/obj/Debug/Facebook.Wit.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Facebook.WitAI.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.AudioManager.Audio.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.AudioManager.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.AudioManager.Utils.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Interaction.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Interaction.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Interaction.InterfaceSupport.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Interaction.Samples.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.LipSync.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.LipSync.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Platform.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Platform.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Spatializer.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Spatializer.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.VR.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.VR.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.VR.Scripts.Editor.csproj.AssemblyReference.cache
src/obj/Debug/VoiceSDK.Editor.csproj.AssemblyReference.cache
src/obj/Debug/VoiceSDK.Runtime.csproj.AssemblyReference.cache
src/Logs/AssetImportWorker0-prev.log
src/Logs/AssetImportWorker0.log
src/Logs/shadercompiler-AssetImportWorker0.log
src/Logs/AssetImportWorker0.log
src/Logs/shadercompiler-AssetImportWorker0.log
src/Logs/
src/obj/
src/obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
src/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
src/obj/Debug/AssistantCoreSDKEditor.csproj.AssemblyReference.cache
src/obj/Debug/AssistantCoreSDKRuntime.csproj.AssemblyReference.cache
src/obj/Debug/Facebook.Wit.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Facebook.WitAI.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.AudioManager.Audio.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.AudioManager.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.AudioManager.Utils.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Interaction.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Interaction.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Interaction.InterfaceSupport.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Interaction.Samples.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.LipSync.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.LipSync.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Platform.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Platform.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Spatializer.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.Spatializer.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.VR.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.VR.Editor.csproj.AssemblyReference.cache
src/obj/Debug/Oculus.VR.Scripts.Editor.csproj.AssemblyReference.cache
src/obj/Debug/VoiceSDK.Editor.csproj.AssemblyReference.cache
src/obj/Debug/VoiceSDK.Runtime.csproj.AssemblyReference.cache
src/Logs/AssetImportWorker0.log
src/Logs/ApiUpdaterCheck.txt
src/Logs/AssetImportWorker0.log
src/Logs/Packages-Update.log
src/Logs/shadercompiler-AssetImportWorker0.log
src/Logs/shadercompiler-UnityShaderCompiler.exe0.log
